---
description: User prompt for SQL generation
author: Dmitry Aspisov
---
User Query: {{ user_query }}

Database Metadata: {{ metadata }} 

{% if sql_query %}
Previous SQL Query: {{ sql_query }}
{% endif %}

{% if correction %}
Suggestions for improvement: {{ correction }}
{% endif %}
