---
description: User prompt for response formatting
author: Dmitry Aspisov
---
User query: {{ user_query }}

Database metadata: {{ metadata }}

SQL query: {{ sql_query }}

Execution results: {{ execution_results }}
