pandas==2.2.3
pydantic==2.10.6
python-dotenv==1.0.1
langchain-openai==0.3.9
dotenv==0.9.9
Jinja2==3.1.6
python-frontmatter==1.1.0
psycopg2-binary==2.9.10
SQLAlchemy==2.0.39
langgraph==0.3.18
fastapi==0.115.11
fastapi-cli==0.0.7
uvicorn==0.34.0